@import url(http://awebfont.ir/css?id=1069|1047|1106&mode=wl);
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'B NAZANIN', Arial, Verdana;
    font-size: 15px;
}