<html>
<head>
    <title>Replace Textareas by Class Name &mdash; CKEditor Sample</title>
    <meta charset="utf-8">
</head>
<body>
<form action="sample_posteddata.php" method="get">
    <p>
        <label for="sample">
            Editor 1:
        </label>
        <textarea class="ckeditor" cols="80" id="sample" name="sample" rows="10">
            Salam
        </textarea>
    </p>

    <p>
        <input type="submit" value="Submit">
    </p>
</form>
</body>
</html>