html {
    font-size: 100%;
}

html, button, input, select, textarea {
    font-family: Bnazanin,Tahoma;
}
html {
    border-bottom: 1px solid transparent;
    min-height: 100%;
}
header
{
    display: block;
}
body>header
{
    clear: both;
    margin: 0 auto;
}

.nspArt h4.nspHeader a:active, .nspArt h4.nspHeader a:focus, .nspArt h4.nspHeader a:hover {
color: #eb592a;
}

#gkPageContent::after, #gkContent::after, #gkSidebar::after, footer::after, header::after, section::after, aside::after,
article::after, .box::after,
.itemSocialSharing::after, #gkTopMenu::after, article header ul::after, #gkTop1>div::after, #gkTop2>div::after {
    clear: both;
    content: "";
    display: table;
    direction: rtl;
}



body
{
    margin : 0 ;
    min-height: 100%;
    font-size: 12px;
    line-height: 1.6;
}
body>header:first-child
{
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0 0 0 40px;
}

ul li {
    list-style-position: outside;
}

ul li {
    line-height: 2.0;
}

a {
    color: #363636;
    -webkit-transition: color .2s linear;
  /*  -moz-transition: color .2s linear;
    -o-transition: color .2s linear;*/
    transition: color .2s linear;
    text-decoration: none;
    -webkit-transform: translateZ(0);
}

.clearboth
{
    clear : both;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

div.content {
    clear: both;
}

#gkContent, #gkPageContent {
    background: transparent url('../../img/line.png') repeat-y 0 0;
}

#gkPageContent {
    border-bottom: 0;
    border-top: 0;
    width: 100%;
}

.gkPage {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto!important;
}

section#gkContent, section#gkComponentWrap, aside#gkSidebar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
a:hover, a:active, a:focus {
    color: rgb(191, 7, 7);
}
body>footer:first-child, body>header:first-child, body>section:first-child, section#gkPage>section:first-child, section#gkContent>section:first-child, section#gkComponentWrap>section:first-child {
    margin-top: 0;
}

.box.clear {
    margin: 0;
    padding: 0;
}

.box.light {
    background: #f8f8f8!important;
    padding: 20px;
}


.nsp {
    position: relative;
}

.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
    font-size: 13px;
    line-height: 1.6;
    width: 100%;
    background: #FFF;
}

.nspFs100 {
    font-size: 100%;
}
.nspMain {
    overflow: hidden;
}

.nspArts.right {
    float: left;
}
.nspArts {
    overflow: hidden;
}
.nsp {
    position: relative;
}

.bigtitle .nspArt:first-child {
    border-top: 0;
}
.nsphover .nspArt {
    border: none!important;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.bigtitle .nspArt {
    border-top: 1px solid #d2d0d0;
}
.nspCol1 {
    width: 100%;
}

.nspArt {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    direction: ltr;
}

.nspArt .fnone {
    clear: both;
    width: 100%;
    float: none;
}
.nspArt .tcenter {
    text-align: center;
}
.nspArt div {
    overflow: hidden;
}

.gkResponsive {
    position: relative;
}
.gkResponsive {
    line-height: 1;
}
.box.header .nspImageWrapper {
    position: relative;
}

.nsphover .nspImageWrapper {
    position: relative;
}
.nspArt .fnone {
    clear: both;
    width: 100%;
    float: none;
}
.nspArt .tcenter {
    text-align: center;
}

.nspArt .nspImageWrapper {
    overflow: hidden;
}
.gkResponsive a, a.gkResponsive {
    display: block;
    position: relative;
}
.gkResponsive a, a.gkResponsive {
    display: block;
    position: relative;
}
.nspArt a {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.box a {
    text-decoration: none;
}

.nspArt img.nspImage {
    max-width: 100%;
}

.gkResponsive img.nspImage, img.nspImage.gkResponsive {
    height: auto;
}

.nspArt img.nspImage {
    border: 0;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

section img {
    height: auto!important;
    max-width: 100%!important;
    float: right;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.box.header h4.nspHeader {
    background: #1c1c1c;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
    padding: 8px 14px;
    position: absolute;
    -webkit-transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    -ms-transition: background .3s ease-out;
    -o-transition: background .3s ease-out;
    transition: background .3s ease-out;
    opacity: .7;
    filter: alpha(opacity=70);
}

.nspArt .tleft {
    text-align: right;
}

.gkResponsive h4 {
    margin-bottom: 15px;
    padding: 10px 10px 0 10px;
}
h4.nspHeader {
    color: #363636;
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: normal;
}
h4 {
    font-size: 125%;
}

.box.header h4.nspHeader a {
    color: #fff;
}

.nspArt h4.nspHeader a {
    color: #363636;
    text-decoration: none;
}

.gkResponsive a, a.gkResponsive {
    display: block;
    position: relative;
    display: block;
    position: relative;
}

.nsphover .nspHoverOverlay {
    background: #bf0707;
    opacity: .80;
    filter: alpha(opacity=80);
}

.nsphover .nspHoverOverlay {
    background: #bf0707;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 600px;
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 100%;
    -webkit-transition: top .3s ease-out;
    -moz-transition: top .3s ease-out;
    -ms-transition: top .3s ease-out;
    -o-transition: top .3s ease-out;
    transition: top .3s ease-out;
    z-index: 9;
}

.nspArt div {
    overflow: hidden;
}
.nsphover .nspHoverOverlay .nspHeader, .nsphover .nspHoverOverlay .nspHeader a {
    color: #fff;
}

.nsp .nspHoverOverlay .nspText, .nsphover .nspHoverOverlay .nspText a {
    color: #fff;
    margin-top: 5px;
    position: static;
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
}
.nsphover .nspText {
    bottom: -200px;
    position: absolute;
}
div.nspText {
    line-height: 22px;
    padding: 10px 0 0 0;
}

.nspLinksWrap.right {
    float: left;
}

.nspArtScroll1, .nspLinkScroll1 {
    overflow: hidden;
}

.nspPages4 {
    width: 400%;
}
.nspLinks .nspLinkScroll1 div ul {
    padding: 0!important;
    list-style-type: none!important;
}

.box.light ul {
    margin: 0;
    padding: 0;
}

.box.header .nspLinks .nspLinkScroll1 div ul li {
    margin: 0 5px 0 5px!important;
    padding: 7px 7px 0 7px!important;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.box.light ul li:first-child {
    border-top: 0;
}
.nspLinks .nspLinkScroll1 div ul li {
    margin: 0!important;
    padding: 14px 0;
}
.box.light ul li {
    border-bottom: 1px solid #ddd;
    position: relative;
}

ul li {
    list-style-position: outside;
    line-height: 2.0;
}
.nspArt img.nspImage {
    max-width: 100%;
}
.nspArt img.nspImage {
    border: 0;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.header .nspLinks ul li h4 {
    font-size: 13px;

}

.nspLinks ul li h4 {
    color: #2f3133;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
}

.header .nspLinks ul li h4 a {
    color: #333;
}
.nspLinks ul li h4 a {
    text-decoration: none;
}

.box.header .nspBotInterface div {
    float: left;
    margin-top: 0;
    text-align: center;
}
.nspBotInterface div, .nspTopInterface div {
    float: right;
}

.box.header .nspBotInterface div ul {
    display: inline-block;
    float: none;
}
.box.light ul {
    margin: 0;
    padding: 0;
}
.nspPagination {
    list-style-type: none!important;
    margin: 5px 0 0!important;
    padding: 0!important;
    float: left;
}

.nspPagination li {
    float: left;
    width: 8px;
    height: 8px;
    margin: 1px 3px 0 1px!important;
    background: #d6d6d6;
    border: none!important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 0!important;
    text-indent: -999em;
    cursor: pointer;
}

.nspPagination li.active,.nspPagination li:hover {
    background: #bf0707;
    height: 10px;
    margin: 0 2px 0 0!important;
    width: 10px;
}

.nspList {
    float: left;
    direction: rtl;
}

.box.header .nspLinks .nspLinkScroll1 div ul li:hover {
    background: #bf0707;
    color: #fff;
}

.box.header .nspLinks .nspLinkScroll1 div ul li:hover h4, .box.header .nspLinks .nspLinkScroll1 div ul li:hover h4 a {
    color: #fff;
}

#gkContentWrap,#gkCommentWrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 10px 20px;
}

.gkMainbodyTop,.gkComment {
    margin: -10px -19px 0 -20px;
    border-bottom: 1px solid #d2d0d0;
    border-top: 1px solid #d2d0d0;
}

#gkMainbody .box, .gkMainbodyTop .box, #gkMainbodyBottom .box {
    border-top: 1px solid #d2d0d0;
}

.nspArts.aright {
    float: right;
}

.nspPages1 {
    width: 100%;
}

.nspCol1 {
    width: 100%;
}

.nspArtPage {
    float: right;
}

.nspArt p.nspText {
    color: #444;
    float: none;
    font-size: 13px;
    margin: 10px 0;
}

.nspArt .tjustify {
    text-align: justify;
}
.nspLinksWrap.aright {
    float: right;
}

.nspCol4 {
    width: 25%;
}

.nspArt .fleft {
    float: left;
}

.header .nspLinks ul li h4 {
    font-size: 13px;
}
.nspLinks ul li h4 {
    color: #2f3133;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
}

button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

select, textarea, input[type="text"], input[type="password"], input[type="url"], input[type="email"] {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #d2d0d0;
    box-sizing: border-box;
    color: #777;
    font-size: 10px;
    height: 32px;
    line-height: 33px;
    max-width: 100%!important;
    padding: 0 12px;
}

.nspArt img.nspImage:hover {
    -webkit-transform: scale(1.15) rotate(-1.5deg);
    -moz-transform: scale(1.15) rotate(-1.5deg);
    -ms-transform: scale(1.15) rotate(-1.5deg);
    -o-transform: scale(1.15) rotate(-1.5deg);
    transform: scale(1.15) rotate(-1.5deg);
}

#gkSidebar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
}

button, .button, input.button, span.button, button.button, div.button, input[type="submit"], input[type="button"], .pagenav-prev a, .pagenav-next a, .readon, .pagination ul li a, .pagination ul li span {

    moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    background: #bf0707;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 400;
    height: 42px;
    line-height: 42px;
    margin: 0 5px 2px 2px;
    padding: 0 25px;
    text-align: center;
    transition: all .1s ease-out;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

#gkFooter {
    border-top: 2px solid #bf0707;
}
#gkFooter {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 2px solid #bf0707;
    color: #777;
    font-size: 12px;
    line-height: 21px;
    margin: 0 auto 20px auto!important;
}

#gkBreadcrumb {
    background: #f9f9f9;
    border-bottom: 1px solid #d2d0d0;
    padding: 5px 24px 5px 15px;
    direction: ltr;
}

#gkBreadcrumb .breadcrumbs {
    float: left;
    color: #333;
}

#k2Container {
    padding-bottom: 10px;
}

section article:first-child, section.blog .items-more ol {
    margin-top: 0;
}
section article {
    margin-top: 10px;
}

article, article>section {
    position: relative;
}

#gkMainStory img {
    float: right;
}
#gkMainbody>div {
direction: ltr;
}

article header {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 450px;
    margin: 10px 0 0 15px;
}

article header span {
    font-size: 18px;
}

article header h1, .category header, article header h2 {
    clear: both;
    font-size: 24px;
    font-weight: bold;
    line-height: 42px;
    padding: 0 0 6px;
}

article header .Abstract {
    font-size: 17px;
    text-align: justify;
}

#k2Container .box {
    border: 0;
    padding-top: 0;
}

.bigtitle .nspHeader {
    font-size: 18px;
}

.nsphover .content {
    margin: 0 -12px;
}

.bigtitle .nspArt:first-child {
    border-top: 0;
}

.bigtitle .nspArt {
    border-top: 1px solid #d2d0d0;
}

.nspCol30 {
    width: 32.5%;
}

.bigtitle p.nspInfo {
    font-size: 14px;
}
.nspArt p.nspInfo {
    color: #999;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.0;
    margin: 0 0 5px 0;
}

.nspArt .fright {
    float: right;
}
.nspArt .tright {
    text-align: left;
}

.bigtitle p.nspText {
    font-size: 16px;
}
p.nspText
{
    clear : both ;
}