<div class='commentBox' id="{{ comment.id }}">
    <div class='commentInfoBar'>
        <div class='commentUser'>{{this.name}}</div>
    </div>
    <div class='commentContent'>
        <img style='padding-left:3px;' src="{{ asset('/bundles/news/Images/comments.gif') }}" alt=''>{{ comment.content }}
        <div>
        </div>
    </div>
