{% extends 'UserBundle:Default:home.html.twig' %}
{% st _locale = app.request.locale %}

{% block content %}
    <h3>
        {% trans %}Comment creation{% endtrans %}
    </h3>

    <form action="{{ path('comment_create', {'+locale': _locale}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">
                {% trans %}Create{% endtrans %}
            </button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('comment', {'_locale': _locale}) }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
